[Unit]
Description=Riak CS Database

[Service]
User=riak_cs
ExecStart=/usr/lib64/riak-cs/bin/riak-cs foreground
ExecStop=/usr/lib64/riak-cs/bin/riak-cs stop
Type=exec
PIDFile=/run/riak-cs/riak-cs.pid
EnvironmentFile=-/etc/default/riak-cs
RuntimeDirectory=riak-cs

[Install]
WantedBy=multi-user.target
