%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{rel_vsn, "{{release_version}}"}.

%% Platform-specific installation paths
{platform_bin_dir,   "/usr/lib64/riak-cs/bin"}.
{platform_data_dir,  "/var/lib/riak-cs"}.
{platform_etc_dir,   "/etc/riak-cs"}.
{platform_base_dir,  "/usr/lib64/riak-cs"}.
{platform_lib_dir,   "/usr/lib64/riak-cs/lib"}.
{platform_log_dir,   "/var/log/riak-cs"}.
{platform_gen_dir,   "{{platform_data_dir}}"}.
{platform_patch_dir, "{{platform_lib_dir}}/patches"}.

%%
%% riak-cs.conf
%%
{cs_ip,             "127.0.0.1"}.
{cs_port,           8080}.
{admin_ip,          "127.0.0.1"}.
{admin_port,        8000}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.
{stanchion_ip,      "127.0.0.1"}.
{stanchion_port,    8085}.
{stanchion_ssl,     off}.
{cs_version,        030000}.
{rewrite_module,    riak_cs_s3_rewrite}.
{auth_module,       riak_cs_s3_auth}.

{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

{pid_dir,            "/run/riak-cs"}.

{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.

%%
%% cuttlefish
%%
{cuttlefish,         "on"}.
{cuttlefish_conf,    "riak-cs.conf"}.

%% lager
{console_log_default, file}.

%%
%% etc/vm.args
%%
{node,         "riak-cs@127.0.0.1"}.
