.eunit/*
deps/*
rel/riak-cs
rel/vars/dev*_vars.config
ebin/*
riak_test/ebin/*
doc
dev/
/package/
log/
*~
current_counterexample.eqc
.client_test/
client_tests/python/ceph_tests/s3-tests
riak-cs.png
.local_dialyzer_plt
dialyzer.ignore-warnings
dialyzer_warnings
dialyzer_unhandled_warnings
riak_test/src/downgrade_bitcask.erl
