.dialyzer.raw-output
.eunit/*
deps/*
rel/riak-cs
rel/vars/dev*_vars.config
ebin/*.beam
ebin/*.app
riak_test/ebin/*
riak_test/bin/riak-cs*
doc
dev/
/package/
log/
*~
/log
current_counterexample.eqc
.int_test/
.client_test/
priv/riak_cs_drv.so
pkg.vars.config
client_tests/python/ceph_tests/s3-tests
riak-cs.png
.local_dialyzer_plt
.eqc-info
.riak_cs_list_objects_fsm_v2_eqc.txt
dialyzer.ignore-warnings
dialyzer_warnings
dialyzer_unhandled_warnings
