%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "riak-moss"}.
{package_install_name, "riak-moss"}.
{package_install_user, "riakmoss"}.
{package_install_group, "riakmoss"}.
{package_shortdesc, "Riak Multitent Object Storage Service"}.
{package_desc, "Riak Multitent Object Storage Service"}.
