%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "riak-cs"}.
{package_install_name, "riak-cs"}.
{package_install_user, "riakcs"}.
{package_install_group, "riak"}.
{package_install_user_desc, "Riak CS user"}.
{package_shortdesc, "Riak Cloud Storage"}.
{package_desc, "Riak Cloud Storage"}.
{license_type, "Proprietary"}.
{copyright, "2012 Basho Technologies, Inc"}.
{vendor_name, "Basho Technologies, Inc"}.
{vendor_url, "http://basho.com"}.
{vendor_contact_name, "Basho Package Maintainer"}.
{vendor_contact_email, "riak@basho.com"}.
{license_full_text, "This software is provided under license from Basho Technologies."}.
