%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {nowarn_deprecated_function, [ {gen_fsm, start_link, 3}
                                          , {gen_fsm, start_link, 4}
                                          , {gen_fsm, send_event, 2}
                                          , {gen_fsm, send_all_state_event, 2}
                                          , {gen_fsm, sync_send_event, 3}
                                          , {gen_fsm, sync_send_all_state_event, 3}
                                          , {gen_fsm, reply, 2}
                                          ]}
           ]
}.

{deps, [ {parse_trans, "3.3.0"}
       , {getopt, "v1.0.2"}
       , {webmachine, "1.11.1"}
       , {mochiweb, "v2.20.1"}
       , {exometer_core, "v1.5.7"}
       , {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.1"}}}
       , {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.7"}}}
       , {poolboy, "0.8.*", {git, "https://github.com/basho/poolboy", {tag, "riak_kv-3.0.0"}}}
       , {cluster_info, ".*", {git, "https://github.com/basho/cluster_info", {tag, "2.1.0"}}}
       , {riak_repl_pb_api,".*", {git,"https://github.com/TI-Tokyo/riak_repl_pb_api.git", {tag, "3.0.7"}}}
       , {riak_cs_multibag,".*", {git,"https://github.com/TI-Tokyo/riak_cs_multibag.git", {tag, "3.0.5"}}}
       ]
}.


{relx, [ {release, {'riak-cs', "3.0"},
          [ sasl
          , riak_cs
          ]
         }
       , {dev_mode, false}
       , {mode, prod}
       , {overlay, [ {template, "rel/files/riak-cs", "usr/sbin/riak-cs"}
                   , {template, "rel/files/riak-cs-admin", "usr/sbin/riak-cs-admin"}
                   , {template, "rel/files/riak-cs-debug", "usr/sbin/riak-cs-debug"}
                   , {template, "rel/files/riak-cs-supercluster", "usr/sbin/riak-cs-supercluster"}
                   , {copy, "rel/files/cert.pem", "etc/cert.pem"}
                   , {copy, "rel/files/key.pem", "etc/key.pem"}
                   , {copy, "rel/files/app_epath.sh", "lib/app_epath.sh"}
                   , {mkdir, "priv/tools/internal"}
                   , {mkdir, "log"}
                   , {copy, "rel/tools/repair_gc_bucket.erl", "tools/repair_gc_bucket.erl"}
                   , {copy, "rel/tools/internal/README.md", "tools/internal/README.md"}
                   , {copy, "rel/tools/internal/block_audit.erl", "tools/internal/block_audit.erl"}
                   , {copy, "rel/tools/internal/ensure_orphan_blocks.erl", "tools/internal/ensure_orphan_blocks.erl"}
                   , {copy, "rel/tools/internal/offline_delete.erl", "tools/internal/offline_delete.erl"}
                   , {copy, "rel/tools/internal/riak_cs_inspector.erl", "tools/internal/riak_cs_inspector.erl"}
                   , {copy, "rel/tools/internal/select_gc_bucket.erl", "tools/internal/select_gc_bucket.erl"}
                   ]
         }
       , {generate_start_script, true}
       , {extended_start_script, true}
       , {sys_config_src, "config/sys.docker.config.src"}
       ]
}.

{overrides,
 [ {del, meck, [{erl_opts, [warnings_as_errors]}]}
 ]
}.

{dialyzer, [{plt_apps, all_deps}]}.
