{sub_dirs, ["rel"]}.

{require_otp_vsn, "R15|R16"}.

{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{reset_after_eunit, true}.

{plugin_dir, ".plugins"}.
{plugins, [rebar_test_plugin]}.
{client_test, [
    {test_paths, ["client_tests/erlang"]},
    {test_output, ".client_test"}
]}.
{int_test, [
    {test_paths, ["int_test"]},
    {test_output, ".int_test"}
]}.
{riak_test, [
    {test_paths, ["riak_test/tests", "riak_test/src"]},
    {test_output, "riak_test/ebin"}
]}.

{deps, [
        {node_package, "1.3.8", {git, "git://github.com/basho/node_package", {tag, "1.3.8"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.3"}}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4.1"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.0"}}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", "7f94808f958e810b477e096a4960ee90ea9c0f4b"}},
        {druuid, ".*", {git, "git://github.com/kellymclaughlin/druuid.git", {tag, "0.2"}}},
        {velvet, "1.3.*", {git, "git://github.com/basho/velvet", "8739ba8d1630682830be0b95b45cfcbe933b6ad0"}},
        {poolboy, "0.8.1", {git, "git://github.com/basho/poolboy", "0e15b5dcbff89b3d1d4021591f90375d4d2ee9a1"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom", {tag, "0.7.4"}}},
        {erlcloud, ".*", {git, "git://github.com/basho/erlcloud.git", {tag, "0.4.3"}}},
        {riakhttpc, ".*", {git, "git://github.com/basho/riak-erlang-http-client.git", {branch, "master"}}}
       ]}.
