%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {nowarn_deprecated_function, [ {gen_fsm, start_link, 3}
                                          , {gen_fsm, start_link, 4}
                                          , {gen_fsm, send_event, 2}
                                          , {gen_fsm, send_all_state_event, 2}
                                          , {gen_fsm, sync_send_event, 3}
                                          , {gen_fsm, sync_send_all_state_event, 3}
                                          , {gen_fsm, reply, 2}
                                          ]}
           ]
}.

{project_plugins, [ {rebar3_cuttlefish, {git, "https://github.com/TI-Tokyo/rebar3_cuttlefish", {tag, "0.2.2"}}}
                  , rebar3_proper
                  ]
}.

{deps, [ {getopt, "v1.0.2"}
       , {parse_trans, "3.4.1"}
       , {webmachine, "1.11.1"}
       , {mochiweb, "3.1.1"}
       , {uuid, "2.0.5", {pkg, uuid_erl}}
       , {exometer_core, "1.6.1"}
       , {riakc, {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.8+p1"}}}
       , {poolboy, {git, "https://github.com/basho/poolboy", {tag, "riak_kv-3.0.0"}}}
       , {cluster_info, {git, "https://github.com/basho/cluster_info", {tag, "2.1.0"}}}
       , {riak_repl_pb_api, {git,"https://github.com/TI-Tokyo/riak_repl_pb_api.git", {tag, "3.0.9"}}}
       , {riak_cs_multibag, {git,"https://github.com/TI-Tokyo/riak_cs_multibag.git", {branch, "develop"}}}
       ]
}.


{relx, [ {release, {'riak-cs', "3.1"},
          [ sasl
          , riak_cs
          ]
         }
       , {overlay, [ {template, "rel/files/advanced.config", "etc/advanced.config"}
                   , {template, "rel/files/riak-cs", "usr/bin/riak-cs"}
                   , {template, "rel/files/riak-cs-admin", "bin/riak-cs-admin"}
                   , {template, "rel/files/riak-cs-debug", "bin/riak-cs-debug"}
                   , {template, "rel/files/riak-cs-supercluster", "bin/riak-cs-supercluster"}
                   , {template, "rel/files/lib.sh", "lib/lib.sh"}
                   , {copy,     "rel/files/app_epath.escript", "lib/app_epath.escript"}
                   , {copy,     "rel/files/cert.pem", "etc/cert.pem"}
                   , {copy,     "rel/files/key.pem", "etc/key.pem"}
                   , {mkdir,    "priv/tools/internal"}
                   , {mkdir,    "log"}
                   , {copy,     "priv/tools/repair_gc_bucket.erl", "priv/tools/repair_gc_bucket.erl"}
                   , {copy,     "priv/tools/internal/README.md", "priv/tools/internal/README.md"}
                   , {copy,     "priv/tools/internal/block_audit.erl", "priv/tools/internal/block_audit.erl"}
                   , {copy,     "priv/tools/internal/ensure_orphan_blocks.erl", "priv/tools/internal/ensure_orphan_blocks.erl"}
                   , {copy,     "priv/tools/internal/offline_delete.erl", "priv/tools/internal/offline_delete.erl"}
                   , {copy,     "priv/tools/internal/riak_cs_inspector.erl", "priv/tools/internal/riak_cs_inspector.erl"}
                   , {copy,     "priv/tools/internal/select_gc_bucket.erl", "priv/tools/internal/select_gc_bucket.erl"}
                   ]
         }
       , {generate_start_script, true}
       , {extended_start_script, true}
       , {extended_start_script_extensions,
          [ {admin, "riak-cs-admin"}
          , {supercluster, "riak-cs-supercluster"}
          , {debug, "riak-cs-debug"}
          ]
         }
       ]
}.

{profiles,
 [ {rel,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {dev,
    [ {relx, [{mode, dev}]}
    ]
   }

 , {test,
    [ {relx, [{mode, dev}]}
    , {deps,
       [ {proper, "1.4.0"}
       , {erlcloud, {git, "https://github.com/TI-Tokyo/erlcloud.git", {tag, "0.4.7"}}}
       ]
      }
    ]
   }

 , {rpm,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/rpm/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs/riak-cs.pid"},
              {wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {deb,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/deb/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs/riak-cs.pid"},
              {wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {fbsdng,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/fbsdng/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs/riak-cs.pid"},
              {wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {alpine,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/alpine/vars.config"}
       , {overlay,
          [ {template, "rel/pkg/alpine/riak-cs.nosu", "usr/bin/riak-cs.nosu"}
            %% to be renamed to riak-cs in Makefile. We would rather
            %% have a special version of riak-cs in pkg/alpine dir,
            %% but relx seems to give precedence to to the template
            %% entry in the common section.
          ]}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs/riak-cs.pid"},
              {wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

   %% it's essentially `make rel` tarred
 , {osx,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/osx/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{wait_for_process, riak_cs_sup}]
            }
          ]
         }
       ]
      }
    ]
   }
 ]
}.


{cuttlefish, [ {file_name, "riak-cs.conf"}
             , {disable_bin_scripts, true}
             , {schema_discovery, true}
             , {schema_order, [ riak_cs
                              , erlang_vm
                              ]}
             ]
}.


{overrides,
 [ {del, meck, [{erl_opts, [warnings_as_errors]}]}
 ]
}.
