{sub_dirs, ["rel"]}.

{require_otp_vsn, "R16|17"}.

{cover_enabled, false}.

%% EDoc options
{edoc_opts, [preprocess]}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {platform_define, "^[0-9]+", namespaced_types}]}.

{xref_checks, []}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B - \"(^riak$|^riak_cs_dummy_reader$|^riak_core_bucket$|^app_helper$|^riakc_pb_socket_fake$|^riak_object$)\" : Mod)", []}]}.

{reset_after_eunit, true}.

{plugin_dir, ".plugins"}.
{plugins, [rebar_test_plugin, rebar_lock_deps_plugin]}.

{client_test, [
    {test_paths, ["client_tests/erlang"]},
    {test_output, ".client_test"}
]}.
{riak_test, [
    {test_paths, ["riak_test/tests", "riak_test/src",
                  "deps/riak_cs_multibag/riak_test/tests",
                  "deps/riak_cs_multibag/riak_test/src"]},
    {test_output, "riak_test/ebin"}
]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.2.0"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.1.1"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.4"}}},
        {node_package, ".*", {git, "git://github.com/basho/node_package", {tag, "3.0.0"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.8"}}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "2.1.1"}}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", "0.92-basho1"}},
        {druuid, ".*", {git, "git://github.com/kellymclaughlin/druuid.git", {tag, "0.2"}}},
        {poolboy, "0.8.*", {git, "git://github.com/basho/poolboy", "0.8.1p3"}},
        {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core", {tag, "1.2"}}},
        {cluster_info, ".*", {git, "git://github.com/basho/cluster_info", {tag, "2.0.3"}}},
        {xmerl, ".*", {git, "git://github.com/shino/xmerl", "1b016a05473e086abadbb3c12f63d167fe96c00f"}},
        {erlcloud, ".*", {git, "git://github.com/basho/erlcloud.git", {tag, "0.4.6"}}},
        {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {tag, "3.1.0"}}},
        {riak_repl_pb_api,".*",{git,"git://github.com/basho/riak_repl_pb_api.git", {tag, "2.1.1"}}},
        {riak_cs_multibag,".*",{git,"git://github.com/basho/riak_cs_multibag.git", {tag, "2.1.0p1"}}}
          ]}.
