%% -*- erlang -*-
{minimum_otp_vsn, "22"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {nowarn_deprecated_function, [ {gen_fsm, start_link, 3}
                                          , {gen_fsm, start_link, 4}
                                          , {gen_fsm, send_event, 2}
                                          , {gen_fsm, send_all_state_event, 2}
                                          , {gen_fsm, sync_send_event, 3}
                                          , {gen_fsm, sync_send_all_state_event, 3}
                                          , {gen_fsm, reply, 2}
                                          ]}
           ]
}.

{deps, [ {getopt, "1.0.2"}
       , {parse_trans, "3.4.1"}
       , {mochiweb, "3.1.2"}
       , {uuid, "2.0.6", {pkg, uuid_erl}}
       , {jsx, "3.1.0"}
       , {jason, "1.2.2", {pkg, jason_erl}}
       , {poolboy, "1.5.2"}
       , {exometer_core, "1.6.2"}
       , {esaml, "4.5.0"}
       , {webmachine, {git, "https://github.com/TI-Tokyo/webmachine.git", {tag, "1.11.2"}}}
       , {riakc, {git, "https://github.com/TI-Tokyo/riak-erlang-client", {tag, "3.0.13-tiot"}}}
       , {cluster_info, {git, "https://github.com/basho/cluster_info", {tag, "2.1.0"}}}
       , {riak_repl_pb_api, {git, "https://github.com/TI-Tokyo/riak_repl_pb_api.git", {tag, "3.1.0"}}}
       ]
}.


{relx, [ {release, {'riak-cs', "3.2.3"},
          [ sasl
          , riak_cs
          ]
         }
       , {dev_mode, false}
       , {mode, prod}
       , {overlay, [ {template, "rel/files/riak-cs", "usr/sbin/riak-cs"}
                   , {template, "rel/files/riak-cs-admin", "usr/sbin/riak-cs-admin"}
                   , {template, "rel/files/riak-cs-debug", "usr/sbin/riak-cs-debug"}
                   , {template, "rel/files/riak-cs-supercluster", "usr/sbin/riak-cs-supercluster"}
                   , {template, "rel/files/riak-cs-chkconfig", "usr/sbin/riak-cs-chkconfig"}
                   , {copy, "rel/files/cert.pem", "etc/cert.pem"}
                   , {copy, "rel/files/key.pem", "etc/key.pem"}
                   , {copy, "rel/files/app_epath.escript", "lib/app_epath.escript"}
                   , {template, "rel/files/lib.sh", "lib/lib.sh"}
                   , {mkdir, "priv/tools/internal"}
                   , {mkdir, "log"}
                   , {copy, "tools/create-admin", "priv/tools/create-admin"}
                   , {copy, "rel/tools/repair_gc_bucket.erl", "tools/repair_gc_bucket.erl"}
                   , {copy, "rel/tools/internal/block_audit.erl", "tools/internal/block_audit.erl"}
                   , {copy, "rel/tools/internal/ensure_orphan_blocks.erl", "tools/internal/ensure_orphan_blocks.erl"}
                   , {copy, "rel/tools/internal/offline_delete.erl", "tools/internal/offline_delete.erl"}
                   , {copy, "rel/tools/internal/riak_cs_inspector.erl", "tools/internal/riak_cs_inspector.erl"}
                   , {copy, "rel/tools/internal/select_gc_bucket.erl", "tools/internal/select_gc_bucket.erl"}
                   ]
         }
       , {generate_start_script, true}
       , {extended_start_script, true}
       , {sys_config_src, "config/sys.docker.config.src"}
       ]
}.
