%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{rel_vsn, "{{release_version}}"}.

%% Platform-specific installation paths
{platform_bin_dir,   "/usr/lib/riak-cs/bin"}.
{platform_data_dir,  "/var/lib/riak-cs"}.
{platform_etc_dir,   "/etc/riak-cs"}.
{platform_base_dir,  "/usr/lib/riak-cs"}.
{platform_lib_dir,   "/usr/lib/riak-cs/lib"}.
{platform_log_dir,   "/var/log/riak-cs"}.
{platform_gen_dir,   "{{platform_data_dir}}"}.
{platform_patch_dir, "{{platform_lib_dir}}/patches"}.

%%
%% riak-cs.conf
%%
{cs_ip,             "0.0.0.0"}.
{cs_port,           8080}.
{admin_ip,          "0.0.0.0"}.
{admin_port,        8000}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.
{stanchion_host,    "127.0.0.1"}.
{stanchion_port,    8085}.
{stanchion_ssl,     off}.
{cs_version,        030100}.
{rewrite_module,    riak_cs_s3_rewrite}.
{auth_module,       riak_cs_s3_auth}.
{stanchion_hosting_mode, auto}.
{tussle_voss_riak_host, auto}.

{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

{pid_dir,            "/run/riak-cs"}.

{log_level, info}.
{logger_sasl_enabled, false}.

{cuttlefish,         "on"}.
{cuttlefish_conf,    "riak-cs.conf"}.

{node,         "riak-cs@127.0.0.1"}.
