%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "riak_moss", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         public_key,
         ssl,
         os_mon,
         crypto,
         runtime_tools,
         mochiweb,
         webmachine,
         lager,
         riak_moss
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_moss"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, riak_moss, [{incl_cond, include}]}
      ]}.


{target_dir, "riak_moss"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/dispatch.conf", "etc/dispatch.conf"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/riak_moss", "bin/riak_moss"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.


