%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/app.config
%%
{cs_ip,             "127.0.0.1"}.
{cs_port,           8080}.
{admin_ip,          "127.0.0.1"}.
{admin_port,        8000}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{riak_http_port,    8098}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.
{admin_secret,      "admin-secret"}.
{stanchion_ip,      "127.0.0.1"}.
{stanchion_port,    8085}.
{stanchion_ssl,     false}.
{request_pool_tuple, "{128, 0}"}.
{bucket_list_pool_tuple, "{5, 0}"}.
{cs_version,        010300}.
{rewrite_module,    riak_cs_s3_rewrite}.
{auth_module,       riak_cs_s3_auth}.

%%
%% etc/vm.args
%%
{node,         "riak-cs@127.0.0.1"}.
{crash_dump,   "log/erl_crash.dump"}.

%%
%% bin/riak_cs
%%
{data_dir,           "{{target_dir}}/data"}.
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/basho-patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
{runner_wait_process, "riak_cs_put_fsm_sup"}.
