%% -*- mode: erlang -*-

{rel_vsn, "{{release_version}}"}.

{platform_base_dir,  "/usr/local/lib/riak-cs"}.
{platform_bin_dir,   "/usr/local/lib/riak-cs/bin"}.
{platform_data_dir,  "/usr/local/var/lib/riak-cs"}.
{platform_etc_dir,   "/usr/local/etc/riak-cs"}.
{platform_lib_dir,   "/usr/local/lib/riak-cs/lib"}.
{platform_log_dir,   "/var/log/riak-cs"}.
{platform_gen_dir,   "{{platform_data_dir}}"}.
{platform_patch_dir, "{{platform_lib_dir}}/patches"}.

{cs_ip,             "127.0.0.1"}.
{cs_port,           8080}.
{admin_ip,          "127.0.0.1"}.
{admin_port,        8000}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.
{stanchion_ip,      "127.0.0.1"}.
{stanchion_port,    8085}.
{stanchion_ssl,     off}.
{cs_version,        030100}.
{rewrite_module,    riak_cs_s3_rewrite}.
{auth_module,       riak_cs_s3_auth}.
{stanchion_hosting_mode, auto}.
{tussle_voss_riak_host, auto}.
{stanchion_subnet, "192.168.0.0"}.
{stanchion_netmask, "255.255.0.0"}.

{node,         "riak-cs@127.0.0.1"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

{pid_dir,            "/var/run/riak-cs"}.

{log_level, info}.
{logger_sasl_enabled, false}.

{cuttlefish,         "on"}.
{cuttlefish_conf,    "riak-cs.conf"}.
