%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{rel_vsn, "3.0"}.

%% Platform-specific installation paths
{platform_bin_dir,  "/usr/local/lib/riak-cs/bin"}.
{platform_data_dir, "/usr/local/var/lib/riak-cs"}.
{platform_etc_dir,  "/usr/local/etc/riak-cs"}.
{platform_base_dir, "/usr/local/lib/riak-cs"}.
{platform_lib_dir,  "/usr/local/lib/riak-cs/lib"}.
{platform_log_dir,  "/var/log/riak-cs"}.
{platform_gen_dir,  "/usr/local/var/lib/riak-cs"}.

{cs_ip,             "127.0.0.1"}.
{cs_port,           8080}.
{admin_ip,          "127.0.0.1"}.
{admin_port,        8000}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.
{stanchion_ip,      "127.0.0.1"}.
{stanchion_port,    8085}.
{stanchion_ssl,     off}.
{cs_version,        030000}.
{rewrite_module,    riak_cs_s3_rewrite}.
{auth_module,       riak_cs_s3_auth}.

{node,         "riak-cs@127.0.0.1"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

{data_dir,           "{{target_dir}}/data"}.
{runner_script_dir,  "\$(cd \\`dirname $0\\` && /bin/pwd)"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
{runner_wait_process, "riak_cs_put_fsm_sup"}.

{console_log_default, file}.

{cuttlefish,         "on"}.
{cuttlefish_conf,    "riak-cs.conf"}.
