[Unit]
Description=Riak CS Database

[Service]
User=riak_cs
ExecStart=/usr/sbin/riak-cs start
ExecStop=/usr/sbin/riak-cs stop
Type=simple
PIDFile=/var/run/riak-cs/riak-cs.pid
EnvironmentFile=-/etc/default/riak-cs
RuntimeDirectory=riak-cs

[Install]
WantedBy=multi-user.target
