[
 {riak_cs,
  [
   %% == Extra for easy development ==
   {enforce_multipart_part_size, false},
   {proxy_get, enabled},
   {admin_auth_enabled, false},

   {riak_client, riak_cs_yessir_riak_client},
   %% {auth_bypass, true},
   %% {auth_module, riak_cs_s3_passthru_auth},

   {dummy, value}

  ]},

 {lager,
  [
   {colored, true},
   {colors, [
             {debug,     "\e[0;36m" }, %% 36 = cyan
             {info,      "\e[0;35m" }, %% 35 = magenta
             {notice,    "\e[1;32m" }, %% 32 = green
             {warning,   "\e[1;34m" },
             {error,     "\e[1;31m" }, %% 31 = red
             {critical,  "\e[1;43m" }, %% 43 = background yellow
             {alert,     "\e[1;43m" },
             {emergency, "\e[1;43m" }
            ]}
  ]}
].
