[
 {riak_cs,

   [
    %% When to automatically start storage calculation
    %% batches; list of "HHMM" UTC times
    %% ([] == do not automatically calculation;
    %%  ["0600"] == automatically calculate at 6am UTC every day;
    %%  ["0600","1945"] == automatically calculate at 6am and
    %%                     again at 7:45pm every day)
    {storage_schedule, []},

    %% How large each storage archive object is. Should be
    %% chosen such that each storage_schedule entry falls in
    %% a different period; integer number of seconds
    %% (86400 == 1 day)
    {storage_archive_period, 86400},

    %% How many archive periods a user can request in one
    %% usage read, applied independently to access and
    %% storage; integer number of intervals (744 == 1 month
    %% @ 1 hour intervals)
    {usage_request_limit, 744}

   ]}
].
