%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
[
 %% Riak Moss config
 {riak_moss, [
              {moss_ip, "{{moss_ip}}"},
              {moss_port, {{moss_port}} } ,

              %%{ssl, [
              %%       {certfile, "./etc/cert.pem"},
              %%       {keyfile, "./etc/key.pem"}
              %%      ]},

              {riak_ip, "{{riak_ip}}"},
              {riak_pb_port, {{riak_pb_port}} } ,
              {auth_bypass, {{auth_bypass}} } ,
              {moss_root_host, "s3.amazonaws.com"},
              {put_fsm_buffer_size_max, 10485760},

              %% Connection pool
              %% {FixedSize, OverflowSize}
              {riakc_pool, {{riakc_pool_tuple}} },

              %% Admin user credentials
              {admin_key, "{{admin_key}}"},
              {admin_secret, "{{admin_secret}}"},

              %% Configuration for access to bucket request
              %% serialization service
              {stanchion_ip, "{{stanchion_ip}}"},
              {stanchion_port, {{stanchion_port}} },
              {stanchion_ssl, {{stanchion_ssl}} },

              %% == Usage recording ==
              
              %% How often to flush the access log; integer factor of
              %% access_archive_period (1 == once per period; 2 ==
              %% twice per period, etc.)
              {access_log_flush_factor, 1},
              
              %% Additional access log flush trigger - flush after
              %% this many accesses are recorded, even if the flush
              %% interval has not expired; integer number of accesses
              {access_log_flush_size, 1000000},

              %% How large each access archive object is. Should be a
              %% multiple of access_log_flush_interval; integer number
              %% of seconds (3600 == 1 hour)
              {access_archive_period, 3600},

              %% When to automatically start storage calculation
              %% batches; list of "HHMM" UTC times
              %% ([] == do not automatically calculation;
              %%  ["0600"] == automatically calculate at 6am UTC every day;
              %%  ["0600","1945"] == automatically calculate at 6am and
              %%                     again at 7:45pm every day)
              {storage_schedule, []},

              %% How large each storage archive object is. Should be
              %% chosen such that each storage_schedule entry falls in
              %% a different period; integer number of seconds
              %% (86400 == 1 day)
              {storage_archive_period, 86400}
             ]},

 {webmachine, [
               %% access logging and stats are handled by riak_moss
               {webmachine_logger_module, riak_moss_access_logger}
              ]},

 {lager, [
          %% What handlers to install with what arguments
          %% The defaults for the logfiles are to rotate the files when
          %% they reach 10Mb or at midnight, whichever comes first, and keep
          %% the last 5 rotations. See the lager README for a description of
          %% the time rotation format:
          %% https://github.com/basho/lager/blob/master/README.org
          %%
          %% If you wish to disable rotation, you can either set the size to 0
          %% and the rotation time to "", or instead specify a 2-tuple that only
          %% consists of {Logfile, Level}.
          {handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [
                                            {"{{platform_log_dir}}/error.log", error, 10485760, "$D0", 5},
                                            {"{{platform_log_dir}}/console.log", info, 10485760, "$D0", 5}
                                           ]}
                     ]},

          %% Whether to write a crash log, and where.
          %% Commented/omitted/undefined means no crash logger.
          {crash_log, "{{platform_log_dir}}/crash.log"},

          %% Maximum size in bytes of events in the crash log - defaults to 65536
          {crash_log_msg_size, 65536},

          %% Maximum size of the crash log in bytes, before its rotated, set
          %% to 0 to disable rotation - default is 0
          {crash_log_size, 10485760},

          %% What time to rotate the crash log - default is no time
          %% rotation. See the lager README for a description of this format:
          %% https://github.com/basho/lager/blob/master/README.org
          {crash_log_date, "$D0"},

          %% Number of rotated crash logs to keep, 0 means keep only the
          %% current one - default is 0
          {crash_log_count, 5},

          %% Whether to redirect error_logger messages into lager - defaults to true
          {error_logger_redirect, true}
         ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, false}
        ]}
].
